<p-toast ></p-toast>

<div class="main-card mb-3 card"> 
    <div class="card-header">
        <h1 class="card-title">Cliente</h1>
    </div>
    <div class="card-body">

        <button (click)="collapse()" pButton icon="pi pi-plus" style="margin-bottom: 10px;" [class.hidden]="!Agregar">Agregar</button>
          
        <div [class.hidden]="!Collapse" style="margin-top: 20px;">

          <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="Cliente">DNI</label>
                    <input pInputText id="Clie_DNI" formControlName="Clie_DNI" type="text" required autofocus 
                           [ngClass]="{'ng-invalid ng-dirty': submitted && clienteForm.controls['Clie_DNI'].invalid}"
                           (keydown)="ValidarNumeros($event)" maxlength="13"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && clienteForm.controls['Clie_DNI'].invalid" style="color: red !important;">DNI Requerido</small>
                 </div>
                  <div class="field col-12 md:col-6">
                      <label for="Cliente">Nombre</label>
                      <input pInputText id="Clie_Nombre" formControlName="Clie_Nombre" type="text" required autofocus 
                             [ngClass]="{'ng-invalid ng-dirty': submitted && clienteForm.controls['Clie_Nombre'].invalid}"
                             (keydown)="validarTexto($event)" />
                      <small class="ng-dirty ng-invalid" *ngIf="submitted && clienteForm.controls['Clie_Nombre'].invalid" style="color: red !important;">Nombre Requerido</small>
                   </div>

                  <div class="field col-12 md:col-6">
                      <label for="Cliente">Apellido</label>
                      <input pInputText id="Cliente" formControlName="Clie_Apellido" type="text" required autofocus 
                             [ngClass]="{'ng-invalid ng-dirty': submitted && clienteForm.controls['Clie_Apellido'].invalid}"
                             (keydown)="validarTexto($event)" />
                      <small class="ng-dirty ng-invalid" *ngIf="submitted && clienteForm.controls['Clie_Apellido'].invalid" style="color: red !important;">Apellido Requerido</small>
                   </div>

                   <div class="field col-12 md:col-6">
                        <label for="Clie_FechaNac" class="form-label">Fecha de Nacimiento</label>
                        <input pInputText id="Clie_FechaNac" class="form-control" formControlName="Clie_FechaNac" type="datetime-local" required autofocus />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && clienteForm.controls['Clie_FechaNac'].invalid" style="color: red !important;">Apellido Requerido</small>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="Clie_Sexo" class="form-label">Sexo</label>
                        <div class="col-md-3">
                            <label>
                                <input type="radio" class="form-check-input" name="sexo" value="M" checked formControlName="Clie_Sexo"> Masculino
                              </label>
                            </div>

                            <div class="col-md-3">
                                <label>
                                    <input type="radio" class="form-check-input" name="sexo" value="F" formControlName="Clie_Sexo"> Femenino
                                  </label>
                                </div>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="state">Estado Civil</label>
                                <select formControlName="Esta_Id" pInputText id="estado" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && clienteForm.get('Esta_Id').value === '0'}" >
                                  <option *ngFor="let estadocivil of estadocivil" [value]="estadocivil.value">{{ estadocivil.text }}</option>
                                </select>
                                <small *ngIf="submitted && clienteForm.get('Esta_Id').value === '0'" style="color: red;">Estado Civil Requerido</small>
                              </div>
                  

                  
                      <div class="field col-12 md:col-6">
                        <label for="Departamento">Departamento</label>
                        <select formControlName="Depa_Codigo" pInputText id="Departamento" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && clienteForm.get('Depa_Codigo').value === '0'}"
                          (change)="onDepartmentChange(clienteForm.get('Depa_Codigo').value)">
                          <option *ngFor="let depa of departamentos" [value]="depa.value">{{ depa.text }}</option>
                         </select>      
                          <small *ngIf="submitted && clienteForm.get('Depa_Codigo').value === '0'" style="color: red;">Departamento Requerido</small>
                      </div>

                      <div class="field col-12 md:col-6">
                          <label for="Municipio">Municipio</label>
                          <select formControlName="Muni_Codigo" pInputText id="Municipio" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && clienteForm.get('Muni_Codigo').value === '0'}" >
                            <option *ngFor="let muni of municipios" [value]="muni.value">{{ muni.text }}</option>
                          </select>
                          <small *ngIf="submitted && clienteForm.get('Muni_Codigo').value === '0'" style="color: red;">Municipio Requerido</small>
                        </div>


                        
                    </div>

                    <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
                        <button pButton icon="pi pi-check" type="submit" label="Agregar" class="p-button-outlined"></button>
                        <button pButton icon="pi pi-stop" type="button" (click)="cancelar()" label="Cancelar" class="p-button-outlined"></button>
                      </div>
        

          </form>


        </div>





        <p-table #dt1 [value]="Cliente" dataKey="cli_Id" [rows]="10" [loading]="loading" [rowHover]="true" [class.hidden]="!DataTable" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['Cli_Id,Cli_Nombre,Clie_Apellido, Clie_Sexo,Clie_FechaNaciminto,Esta_Id,Muni_Municipio']" responsiveLayout="scroll">

            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                             DNI
                            <p-columnFilter type="text" field="clie_Id" display="menu" placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Nombre
                            <p-columnFilter type="text" field="clie_Nombre" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Apellido
                            <p-columnFilter type="text" field="clie_Apellido" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Fecha
                            <p-columnFilter type="text" field="clie_FechaNac" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Sexo
                            <p-columnFilter type="text" field="clie_Sexo" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Estado Civil
                            <p-columnFilter type="text" field="estado_Civil" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Municipio
                            <p-columnFilter type="text" field="municipio" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                            Acciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-clie>
                <tr>
                    <td>
                        {{clie.cli_DNI}}
                    </td>
                    <td>
                        {{clie.cli_Nombre}}
                    </td>
                    <td>
                        {{clie.cli_Apellido}}
                    </td>
                    <td>
                        {{clie.cli_FechaNac}}
                    </td>
                    <td>
                        {{clie.cli_Sexo}}
                    </td>
                    <td>
                        {{clie.estado_Civil}}
                    </td>
                    <td>
                        {{clie.municipio}}
                    </td>
                    <td style="display: flex; justify-content: space-around;">
                        <button pButton pRipple type="button" label="Editar" class="p-button-raised p-button-success"  (click)="Fill(clie.cli_Id)"></button>
                        <button pButton pRipple type="button" label="Detalles" class="p-button-raised p-button-secondary" (click)="detalles(clie.cli_Id)"></button>
                        <button pButton pRipple type="button" label="Eliminar" class="p-button-raised p-button-danger"  (click)="deleteSelectedProducts(clie.cli_Id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>




        <div class="card-body" [class.hidden]="!Detalles">
            <div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-4">
                    <div class="field rows">
                        <label for="Codigo" style="font-weight: 800;">Codigo:</label>
                    </div>
                    <div class="field rows">
                        <label for="Codigo">{{ Detalle_DNI }}</label>
                    </div>
                </div>
                
                <div class="field col-12 md:col-4">
                    <div class="field rows">
                        <label for="Municipio" style="font-weight: 800;">Nombre:</label>
                    </div>
                    <div class="field rows">
                        <label for="Municipio">{{ Detalle_Nombre }}</label>
                    </div>
                </div>


                
                <div class="field col-12 md:col-4">
                    <div class="field rows" style="font-weight: 800;">
                        <label for="Departamento">Apellido:</label>
                    </div>
                    <div class="field rows">
                        <label for="Departamento">{{ Detalle_Apellido}}</label>
                    </div>
                </div>
       
     <div class="field col-12 md:col-4">
                    <div class="field rows">
                        <label for="Municipio" style="font-weight: 800;">Sexo:</label>
                    </div>
                    <div class="field rows">
                        <label for="Municipio">{{ Detalle_Sexo }}</label>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <div class="field rows">
                        <label for="Municipio" style="font-weight: 800;">Estado Civil:</label>
                    </div>
                    <div class="field rows">
                        <label for="Municipio">{{ Detalle_Estado }}</label>
                    </div>
                </div>
           
                
   
        <div class="field col-12 md:col-4">
            <div class="field rows" style="font-weight: 800;">
                <label for="Departamento">Municipio:</label>
            </div>
            <div class="field rows">
                <label for="Departamento">{{ Detalle_Municipio }}</label>
            </div>
        </div>
    </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                       <h1>Auditoria</h1>
                    </div>
                </div>
                <div class="card-body">
                    <p-table [value]="staticData">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:200px">Accion</th>
                                <th style="width:200px">Usuario</th>
                                <th style="width:200px">Fecha</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-transaction>
                            <tr>
                                <td style="width:200px;">Creado</td>
                                <td style="width:200px">{{ UsuarioCreacion }}</td>
                                <td style="width:200px">{{ FechaCreacion }}</td>
                            </tr>
                            <tr>
                                <td style="width:200px;">Modificado</td>
                                <td style="width:200px">{{ UsuarioModificacion }}</td>
                                <td style="width:200px">{{ FechaModificacion }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
              <button pButton icon="pi pi-stop" type="button" (click)="cancelar()" label="Volver" class="p-button-outlined"></button>
            </div>
        </div>
        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Esta seguro de eliminarlo?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
