<div class="login-container">
  <div class="header">
      <div class="icon-wrapper">
          <img src="/src/assets/layout/images/themes/bootstrap4-dark-purple.svg" alt="Home Icon">
      </div>
  </div>
  <div class="outer-card"> <!-- Cuadro exterior más grande y con sombra suave -->
      <div class="login-card"> <!-- Cuadro interior donde se encuentra el lugar del botón -->
          <h2>Grupo Rac</h2>
          <div class="form-group">
              <input type="email" id="email" name="email" placeholder="Usuario" required class="form-control">
          </div>
          <div class="form-group">
              <input type="password" id="password" name="password" placeholder="Contraseña" required class="form-control">
          </div>
          <button (click)="onButtonClick()" class="login-button">Iniciar</button>
          <div class="forgot-password">olvide mi Contraseña</div>
      </div>
  </div>
</div>


  <style>

    .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.header {
  background-color: #920808;
  width: 30%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.icon-wrapper {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper img {
  width: 50%;
}

.outer-card {
  width: 320px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: -50px; /* Ajustar según necesidad */
}

.login-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 25px;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #b90000;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ff0000;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}


  </style>