<div class="login-container">
  <div class="header">
      <div class="icon-wrapper">
          <img src="assets/layout/images/themes/logo.jpg" alt="Home Icon">
      </div>
  </div>
  <div class="outer-card">
    <div class="login-card">
      <h2>Grupo Rac</h2>
      <div class="form-group">
        <input type="text"  name="usuario" placeholder="Usuario" required class="form-control" [(ngModel)]="usuario">
      </div>
      <div class="form-group">
        <input type="password"  name="password" placeholder="Contraseña" required class="form-control" [(ngModel)]="contrase">
      </div>
      <button (click)="onLogin()" class="login-button">Iniciar Sesión</button>
      <div *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="forgot-password">¿Olvidastes tu contraseña?</div>
    </div>
</div>



  <style>

    .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.header {
  background-color: #920808;
  width: 40%;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.05);
}

.icon-wrapper {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper img {
  width: 100%;
  border-radius: 30px;
}

.outer-card {
  width: 420px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: -50px; /* Ajustar según necesidad */
  height: 500px;
}

.login-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  height: 450px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 20px;
}

.login-button {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #b90000;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ff0000;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
  font-size: 20px;
}


  </style>