<div class="grid" >
    <div *ngFor="let marca of marcas" class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3" >
                <div >
                    <span class="block text-500 font-medium mb-3">{{ marca.marca }}</span>
                    <div class="text-900 font-medium text-xl">{{ marca.cantidad }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <!-- El icono puede ser genérico o dependiente de la marca -->
                    <i class="pi pi-tags text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Cantidad actual </span>
            <span class="text-500">en sede</span>
        </div>
    </div>
</div>
<dir class="card">
<div class="col-12  xl:col-12">
<div class="card">
    <h1 style="text-align: center;">Estadistica general de Vehiculos</h1>
    <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
</div>
</div>
</dir>

